# Firebase Configuration - restaurante-6f221
# Copie este arquivo para .env e use estas credenciais

EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyAKbTm0iFFNwAcSmTtLrlyIHKc1ds1LrDE
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=restaurante-6f221.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=restaurante-6f221
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=restaurante-6f221.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=469913079371
EXPO_PUBLIC_FIREBASE_APP_ID=1:469913079371:web:12cb16e2da6cf72b7947ce
EXPO_PUBLIC_FIREBASE_MEASUREMENT_ID=G-43YDTD2BYV
